# Backlash / DOSWIN file associations
# Format:
# EXT=ACTION
# EXT_EDIT=ACTION

TXT=APP:APPS\EDITOR\TXTEDIT.APP
BAS=APP:APPS\EDITOR\TXTEDIT.APP
CFG=APP:APPS\EDITOR\TXTEDIT.APP
ME=APP:APPS\EDITOR\TXTEDIT.APP
SYS=APP:APPS\EDITOR\TXTEDIT.APP

APP=APP:OPEN_LAYOUT
EXE=RUN
COM=RUN
BAT=RUN

# Backlash Navigator right-click Edit actions.
TXT_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
BAS_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
BI_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
INC_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
BAT_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
APP_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
CFG_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
INI_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
LOG_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
DIZ_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
ME_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
NFO_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
ASM_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
C_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
H_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
CPP_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
HPP_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
PAS_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
MAK_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
MD_EDIT=APP:APPS\EDITOR\TXTEDIT.APP
CSV_EDIT=APP:APPS\EDITOR\TXTEDIT.APP

# Image Viewer
BMP=APPFILE:APPS\IMGVIEW\IMGVIEW.APP IMG_PATH
GIF=APPFILE:APPS\IMGVIEW\IMGVIEW.APP IMG_PATH
JPG=APPFILE:APPS\IMGVIEW\IMGVIEW.APP IMG_PATH
JPEG=APPFILE:APPS\IMGVIEW\IMGVIEW.APP IMG_PATH

# Archive Manager
ZIP=APPFILE:APPS\ARCHMGR\ARCHMGR.APP ARC_PATH
