[COLORS]
desktop_r=100
desktop_g=128
desktop_b=128

taskbar_r=192
taskbar_g=192
taskbar_b=192

bevel_hi_r=255
bevel_hi_g=255
bevel_hi_b=255

bevel_lo_r=128
bevel_lo_g=128
bevel_lo_b=128

select_r=0
select_g=0
select_b=128

text_r=0
text_g=0
text_b=0

textinv_r=255
textinv_g=255
textinv_b=255

missing_r=255
missing_g=0
missing_b=0

[WALLPAPER]
wallpaper=WALLPAPR\GLOWBALL.BMP
wallpaper_mode=2

[ASSETS]
start_icon=ICONS\START.BMP
start_strip=ICONS\STARTBAR.BMP
start_strip_top_r=0
start_strip_top_g=0
start_strip_top_b=0
start_strip_bottom_r=186
start_strip_bottom_g=68
start_strip_bottom_b=181
start_strip_pad_top=0
start_strip_pad_bottom=0



; 16-color / 4bpp overrides
desktop_r_4=0
desktop_g_4=0
desktop_b_4=170

taskbar_r_4=170
taskbar_g_4=170
taskbar_b_4=170

bevel_hi_r_4=255
bevel_hi_g_4=255
bevel_hi_b_4=255

bevel_lo_r_4=85
bevel_lo_g_4=85
bevel_lo_b_4=85

select_r_4=0
select_g_4=0
select_b_4=170

text_r_4=0
text_g_4=0
text_b_4=0

textinv_r_4=255
textinv_g_4=255
textinv_b_4=255

missing_r_4=255
missing_g_4=85
missing_b_4=85

start_strip_top_r_4=0
start_strip_top_g_4=0
start_strip_top_b_4=128

start_strip_bottom_r_4=170
start_strip_bottom_g_4=170
start_strip_bottom_b_4=170



; 16-color indexed UI colors
desktop_idx_4=1
taskbar_idx_4=7
bevel_hi_idx_4=15
bevel_lo_idx_4=8
select_idx_4=1
text_idx_4=0
textinv_idx_4=15
missing_idx_4=12
